.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.introduction_header {
  margin: 0;
  padding: 80px;
  color: white;
  font-size: 150px;
  font-family: 'Niconne', cursive;
}

.introduction_btn {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  background-color: transparent;
  font-family: 'Niconne', cursive;
  border: none;
  color: white;
  width: 200px;
  align-self: center;
  outline: none;
}

.introduction_btn:hover {
  background-color: transparent;
  color: #4B0082;
}

.introduction_btn:active {
  color:transparent;
}
