.section_intro {
  background-image: url('./images/photo4.jpg');
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.layer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  content: "";
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
}
